.section-title{
    text-align: center;
}

.section-title h3{
    color: #22bedd;
    font-size: 30px;
    margin: 50px 0;
    border-left: 3px solid #22bedd;
    border-right: 3px solid #22bedd;
    display:  inline-block;
    padding: 0 10px;
    line-height: .8;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 5px;
    justify-content: center;
    gap: 15px;
}
.photo{
    height: 280px;
    width: 280px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.border{
    border: 1px solid white;
    background-color: #22bedd;
    position: absolute;
    transition: .7s ease-in-out;
}
.border.top, .border.bottom{
    height: 4px;
    width: 270px;
}
.border.left, .border.right{
    height: 270px;
    width: 4px;
}
.border.top{
    top: 5px;
    right: 100%;
}
.border.bottom{
    bottom: 5px;
    left: 100%;
}
.border.left{
    left: 5px;
    top: 100%;
}
.border.right{
    right: 5px;
    bottom: 100%;
}
.photo:hover .border.top{
    right: 5px;
}
.photo:hover .border.bottom{
    left: 5px;
}
.photo:hover .border.left{
    top: 5px;
}
.photo:hover .border.right{
    bottom: 5px;
}

.photo-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    color: #22bedd;
    padding-left: 5px;
    /* transform: translateX(400px); */
    transition: .7s ease-out;
    transform: translateY(300px);
    /* display: none; */
}

.photo:hover .photo-content{
    transform: translateY(180px);
}

.photo::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: .3s linear;
}
.photo:hover::before{
    opacity: 1;
}

/* .box {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.box>* {
    flex: 1 1 80px;
} */
/* .box {
    display: flex;
    flex-wrap: wrap;
}
.box>* {
    flex: 1 1 160px;
} */
