#returnToTopBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    /* background-color: rgb(3, 191, 197); */
    background-color: red;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  
  #returnToTopBtn:hover {
    background-color: rgba(7, 202, 7, 0.884);
  }